//http://www.workwithcolor.com/hsl-color-schemer-01.htm?q=86BFF9,FFFBE5,444444,555555,F99986,0D7FF2

@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/hover-link";
@import "compass/utilities/general/min";
@import "compass/typography/lists/horizontal-list";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding font faces that are already bold
  font-weight: bold;
}

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red 0 0 5px 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
$footer-height: 120px;
$body-radius: 20px;

$cream: hsl(50, 100%, 95%);

@include sticky-footer($footer-height, "#wrap", "#wrap-footer", "#footer");

body {
  font-family: sans-serif;
  background: hsl(210, 90%, 75%);
}

header {}

#wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  #wrap-footer {
    height: $footer-height - $body-radius;
  }
}

#main {
  @include border-radius($body-radius);
  padding: $body-radius ($body-radius - 10px);
  background: $cream;
  position: relative;
  @include min-height(120px);  //gravitar height
}

#gravatar {
  @include box-shadow(#333 0px 0px 10px);
  position: absolute;
  top: $body-radius;
  right: $body-radius;
}

#footer {
  background: #555;
}

#badges {
  ul {
    @include horizontal-list;
  }
  position: absolute;
  bottom: 1ex;
  left: 2em;
}

#copyright {
  color: $cream;
  position: absolute;
  bottom: 1ex;
  right: 2em;
}

a{
  @include hover-link;
}
